:root {
    --color-white: #ffffff;
    --color-base: #ffcc47;
    --color-black: #000000;
    --color-brown-01: #fdd673;
    --color-brown-02: #ffd364;
    --color-brown-03: #ffc32a;
    --color-brown-04: #ffb700;
    --color-brown-05: #ffb700;
  
  }
  
  /* main container */
  body {
    background-color: var(--color-base);
  }
  
  .main-frame {
    background-color: var(--color-white);
    height: 100%;
    max-width: 300px;
  }
  
  #tagline {
    font-style: italic;
    font-family: monospace;
    margin-bottom: 100px;
  }

  .btn {
    max-width: 200px;
    margin: 10px 50px;
    display: block;
    background: var(--color-white);
    color: var(--color-brown-01);
    font-weight: bolder;
    outline: 2px solid var(--color-brown-03) !important;
    box-shadow: none !important;
  }
  
  .btn:focus {
    outline: none !important;
  }

  .btn:hover {
      background-color: var(--color-brown-03);
  }
  
  /* profile.html */
  .name {
    text-align: center;
    font-weight: bolder;
  }
  
  /* contacts */
  .contacts {
    text-align: center;
  }

/*:root {
    --color-white: #fff;
}

html, body {
    padding: 0px;
    margin: 0px;
    background-color: #f7f7f7;
}

header {
    padding: 10px 20px;
    background-color: var(--color-white);
}

header > span {
    margin-right: 20px;
}

header > span:last-child {
    float: right;
    font-weight: bold;
}

section {
    padding: 0px 20px;
}

/*BLOG CONTENT*/
/*
.blog_content {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*SIGNUP*/
/*
.form-input-wrap {
    margin-top: 5px;
}

/*LOADER*/
/*
.loader {
    background-color: rgba(000,000,00,0.5);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.loader-content {
    box-shadow: 0.5px 0.5px 3px rgba(000,000,000,0.1);
    background-color: var(--color-white);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 100px;
    /*CUSTOM*/
    /*
    padding-top: 35px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
*/